@media (max-width: 1440px) {
  .header__logo {
    margin-right: 68px;
  }
  .header__list {
    gap: 53px;
  }
  .catalog__inform {
    padding: 0;
  }
  .events__list {
    justify-content: space-evenly;
  }

  .events__item {
    padding: 212px 33px 48px;
    max-width: 350px;
    min-height: 684px;
    background-size: contain;
  }
  .contacts__container {
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .catalog__item {
    flex-direction: column;
  }
  .events__item {
    max-width: 300px;
  }

}
@media (max-width: 1024px) {

  /* global */
  .container {
    padding: 0 49px;
  }

  .header__container {
    padding: 3px 49px 0;
  }
  .header__logo {
    margin-right: auto;
  }
  .header__logo img {
    width: 187px;
  }

  .header__nav {
    margin-top: 19px;
    margin-right: auto;
  }
  .header__list {
    gap: 93px;
  }
  .header__search:nth-child(2) svg {
    display: block;
  }

  .header__search:nth-child(4) svg {
    display: none;
  }

  .hero {
    padding-top: 100px;
    padding-bottom: 125px;
    background-image: url(../img/hero-1024.jpg);
  }

  .hero__descr {
    margin-bottom: 160px;
    max-width: 659px;
  }

  .gallery {
    padding-top: 110px;
    background-image: url(../img/gallery-1024.jpg);
  }

  .gallery__title {
    margin-bottom: 19px;
  }

  .gallery__form {
    margin-bottom: 30px;
  }

  .catalog__descr {
    margin-bottom: 37px;
  }


  .catalog__content {
    gap: 50px;
  }

  .catalog__item {
    flex-direction: column;
  }

  .catalog__inform {
    padding: 0;
  }

  .catalog__date {
    margin-bottom: 19px;
  }

  .catalog__subdescr {
    max-width: 930px;
  }

  .catalog__img {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: 930px;
  }

  .events__title {
    margin-bottom: 17px;
  }

  .events__list {
    gap: 26px;
  }

  .events__item {
    padding: 212px 33px 48px;
    max-width: 291px;
    min-height: 684px;
  }

  .events__item:nth-child(1) {
    background-image: url(../img/events-1-1024.jpg);
  }

  .events__item:nth-child(2) {
    background-image: url(../img/events-2-1024.jpg);
  }

  .events__item:nth-child(3) {
    background-image: url(../img/events-3-1024.jpg);
  }

  .events__adress {
    text-align: right;
    margin-left: auto;
    margin-bottom: 8px;
    font-size: 11px;
    line-height: 15px;
  }

  .events__subtitle {
    margin-bottom: 7px;
  }

  .events__subdescr {
    line-height: 31px;
  }

  .projects__descr {
    margin-bottom: 18px;
  }

  .contacts {
    padding-bottom: 41px;
  }

  .contacts__container {
    gap: 23px;
  }

  .contacts__subtitle {
    margin-bottom: 6px;
  }

  .contacts__address {
    font-size: 14px;
  }

  .contacts__form {
    max-width: 925px;
  }

  .contacts__btn {
    padding: 10px 41px;
  }

  .contacts__socials {
    margin-top: 7px;
  }

  .contacts__subtitle-socials {
    margin-bottom: 6px;
  }

  .contacts__socials-list {
    margin-left: 2px;
  }

  .footer {
    padding: 38px 0 48px;
  }

  .footer__link svg {
    max-width: 60px;
    min-height: 60px;
  }
}
@media (max-width: 992px) {
  .gallery__paintings {
    gap: 30px;
  }
  .catalog__img {
    max-width: 720px;
  }
  .events__list {
    gap: 31px;
    flex-direction: column;
  }

  .events__item {
    padding: 212px 34px 45px;
    max-width: 691px;
    min-height: 527px;
  }

  .events__item:nth-child(1) {
    background-image: url(../img/events-1-768.jpg);
  }

  .events__item:nth-child(2) {
    background-image: url(../img/events-2-768.jpg);
  }

  .events__item:nth-child(3) {
    background-image: url(../img/events-3-768.jpg);
  }
  .contacts__content {
    margin-top: -145px;
  }
  .contacts__form {
    flex-direction: column;
  }

}
@media (max-width: 768px) {
  .header__list {
    gap: 41px;
  }

  .hero {
    padding-top: 88px;
    padding-bottom: 110px;
    background-image: url(../img/hero-768.jpg);
  }
  .hero__title {
    font-size: 9.4vw;
  }
  .hero__descr {
    max-width: 621px;
    margin-bottom: 157px;
  }

  .about {
    padding-bottom: 68px;
  }

  .about__title {
    margin-top: -2px;
    margin-bottom: 14px;
  }

  .gallery {
    padding-top: 105px;
    background-repeat: repeat;
    background-image: url(../img/gallery-768.jpg);
  }

  .gallery__title {
    margin-bottom: 21px;
  }

  .gallery__paintings {
    gap: 35px;
  }

  .catalog__content {
    gap: 50px;
  }

  .catalog__date {
    margin-bottom: 9px;
  }

  .events__subtitle {
    margin-bottom: 14px;
  }

  .projects__descr {
    margin-bottom: 28px;
    max-width: 659px;
  }

  .projects__subtitle {
    margin-bottom: 29px;
  }

  .projects__partners {
    gap: 32px;
  }

  .projects__item {
    padding: 26px 21px 22px;
  }

  .contacts {
    padding: 42px 0;
  }

  .contacts__container {
    gap: 22px;
  }
  .contacts__content {
    margin-top: 0;
  }

  .contacts__form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13px;
  }

  .contacts__input {
    min-width: 324px;
  }

  .contacts__input:nth-child(2) {
    margin-left: 7px;
  }

  .contacts__btn {
    padding: 10px 28px;
  }
}

@media (max-width: 575px) {
  .section-offset {
    padding: 50px 0 52px;
  }

  .container {
    padding: 0 15px;
  }

  .title {
    font-size: 28px;
    line-height: 32px;
  }

  .descr {
    font-size: 16px;
    line-height: 32px;
  }

  .header {
    padding: 15px 0 14px;
  }

  .header__container {
    padding: 0 15px;
  }

  .header__logo img {
    width: 96px;
  }

  .header__search:nth-child(2) svg {
    margin-top: -4px;
    width: 18px;
    height: 18px;
  }

  .header__nav {
    margin-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .header__list {
    flex-wrap: nowrap;
    gap: 25px;
    font-size: 12px;
  }

  .hero {
    padding-top: 50px;
    padding-bottom: 52px;
    background-image: url(../img/hero-320.jpg);
    background-repeat: repeat;
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero__title {
    width: calc(100% - 1vw);
    margin-bottom: 10px;
    font-size: 200%;
    line-height: 28px;
    font-weight: 600;
  }

  .hero__descr {
    margin-left: 4px;
    margin-bottom: 40px;
    max-width: 282px;
    font-size: 11px;
    line-height: 16px;
  }

  .hero__btn {
    padding: 9px 16px;
    font-size: 12px;
  }

  .about {
    padding-top: 55px;
    padding-bottom: 38px;
  }

  .about__title {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    padding-top: 53px;
    background-image: url(../img/gallery-320.jpg);
  }

  .gallery__title {
    margin-top: 3px;
    margin-bottom: 23px;
  }

  .gallery__form {
    gap: 13px;
    font-weight: 400;
  }

  .gallery__paintings {
    gap: 25px;
  }

  .catalog__title {
    margin-top: 1px;
    margin-bottom: 12px;
  }

  .catalog__descr {
    margin-bottom: 30px;
  }

  .catalog__content {
    gap: 30px;
  }

  .catalog__img {
    margin-right: 0;
    margin-bottom: 18px;
  }

  .catalog__name,
  .catalog__subdescr {
    line-height: 32px;
  }

  .catalog__name {
    max-width: 285px;
    margin-bottom: 10px;
  }

  .catalog__date {
    margin-bottom: 13px;
  }

  .events {
    padding-top: 8px;
    padding-bottom: 50px;
  }

  .events__title {
    margin-bottom: 14px;
  }

  .events__list {
    gap: 19px;
  }

  .events__item {
    padding: 215px 22px 48px;
    min-height: 684px;
  }

  .events__item:nth-child(1) {
    background-image: url(../img/events-1-320.jpg);
  }

  .events__item:nth-child(2) {
    background-image: url(../img/events-2-320.jpg);
  }

  .events__item:nth-child(3) {
    background-image: url(../img/events-3-320.jpg);
  }

  .events__adress {
    margin-bottom: 12px;
  }

  .events__subtitle {
    margin-bottom: 8px;
  }

  .events__subdescr {
    line-height: 32px;
  }

  .events__btn {
    margin-left: 6px;
  }

  .projects {
    padding-top: 3px;
    padding-bottom: 51px;
  }

  .projects__title {
    margin-bottom: 15px;
  }

  .projects__descr {
    margin-bottom: 20px;
  }

  .projects__partners {
    gap: 13px;
  }

  .projects__subtitle {
    margin-bottom: 11px;
    font-size: 18px;
  }

  .projects__item,
  .projects__item:nth-child(2) {
    padding: 29px 64px 25px;
  }

  .contacts {
    padding: 0;
    padding-bottom: 47px;
  }

  .contacts__container {
    gap: 14px;
  }

  .contacts__subtitle {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 22px;
  }

  .contacts__form {
    gap: 20px;
  }

  .contacts__input {
    min-width: 290px;
    min-height: 40px;
  }
  .contacts__btn:nth-child(3) {
    display: block;
  }
  .contacts__btn {
    padding: 9px 31px;
    font-size: 13px;
  }

  .contacts__input:nth-child(2) {
    margin-left: 0;
  }

  .contacts__btn:nth-child(4) {
    display: none;
  }

  .contacts__subtitle-socials {
    font-size: 16px;
    line-height: 32px;
  }

  .contacts__link svg {
    width: 50px;
    height: 50px;
  }

  .footer {
    padding: 15px 0 20px;
  }

  .footer__container {
    gap: 11px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__link svg {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    width: 97px;
  }
}
